::-webkit-scrollbar-track {
  
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(212, 211, 211); 
    border-radius: 10px;
  }

  a{
    text-decoration: none!important;
  }
  
  *{
    font-family: 'Lexend Deca', sans-serif;
  }